Repository pabroux/unvX: changes, and which pre-commit hooks are due for each by the changed paths.
All: alejandra, stylua, yamlfmt

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types: [pre-commit, commit-msg]
repos:
  - repo: local
    hooks:
      - id: alejandra
        name: Alejandra
        description: This hook checks Nix files with Alejandra.
        entry: nix develop . -c bash -c 'for f in "$@"; do alejandra -q "$f"; done' --
        language: system
        files: \.nix$
      - id: shfmt
        name: Sh
        description: This hook checks shell files with shfmt.
        entry: nix develop . -c bash -c 'for f in "$@"; do shfmt -w "$f"; done' --
        language: system
        types: [shell]
      - id: stylua
        name: Stylua
        description: This hook checks Lua files with Stylua.
        entry: nix develop . -c stylua
        language: system
        files: \.lua$
      - id: yamlfmt
        name: Yamlfmt
        description: This hook checks YAML files with yamlfmt.
        entry: nix develop . -c yamlfmt
        language: system
        types: [yaml]
      - id: gitlint
        name: Gitlint
        description: This hook checks git commit messages with gitlint.
        entry: nix develop . -c gitlint --staged --msg-filename
        language: system
        stages: [commit-msg]
      - id: gitleaks
        name: Gitleaks (staged)
        description: This hook checks the existence of secrets.
        entry: nix develop . -c gitleaks protect --staged --redact --no-banner --verbose
        language: system
        pass_filenames: false
      - id: gitleaks
        name: Gitleaks (full history)
        description: This hook checks the existence of secrets.
        entry: nix develop . -c gitleaks detect --redact --no-banner --verbose
        language: system
        pass_filenames: false

chore(flake): update `flake.lock`.
  flake.lock
Due: none

docs(README): update claude badge. [no ci]
  README.md
Due: none

feat(claude): add commands.
  module/claude-code/commands/code-review.md
  module/claude-code/default.nix
Due: alejandra

fix(skhd): substitute toggle float binding.
  module/skhd/skhdrc
Due: none

chore(flake): update `flake.lock`. [no ci]
  flake.lock
Due: none

feat(raycast): remove obsidian ext. [no ci]
  module/homebrew/app/raycast/raycast.rayconfig
Due: none

fix(claude): adjust code-review.md. [no ci]
  module/claude-code/commands/code-review.md
Due: none

docs(README): adjust badge. [no ci]
  README.md
Due: none

chore: add funding. [no ci]
  .github/FUNDING.yml
Due: yamlfmt

feat(claude): add new settings.
  module/claude-code/settings.json
Due: none

fix(claude): merge commands into skills.
  module/claude-code/default.nix
  module/claude-code/skills/code-review/SKILL.md
Due: alejandra

feat(raycast): update config.
  module/homebrew/app/raycast/raycast.rayconfig
Due: none

feat(raycast): update snippets. [no ci]
  module/homebrew/app/raycast/raycast.rayconfig
Due: none

fix(lazygit): update keybind.
  module/lazygit/config.yml
Due: yamlfmt

chore(flake): update stable to 26.05.
  flake.lock
  flake.nix
Due: alejandra

refactor(flake): remove stable version.
  flake.lock
  flake.nix
Due: alejandra

chore: update dependabot.yml
  .github/dependabot.yml
Due: yamlfmt

ci: update names
  .github/workflows/ci.yml
Due: yamlfmt
