Repository pabroux/unvX: changes, and which pre-commit hooks are due for each by the changed paths.
All: alejandra, stylua

alejandra:
  name: Alejandra (Nix formatter)
  description: This hook checks Nix files with Alejandra.
  entry: bash -c 'for arg in "$@"; do nix shell nixpkgs#alejandra --command alejandra -q $arg; done;' --
  language: system

stylua:
  name: Stylua (Lua formatter)
  description: This hook checks Lua files with Stylua.
  entry: bash -c 'for arg in "$@"; do nix shell nixpkgs#stylua --command stylua $arg; done;' --
  language: system

chore(flake): update packages. [no ci]
  flake.lock
Due: none

style(neovim): reorder lazy keys of all plugins.
  module/neovim/lua/plugins/specs/codeium.lua
  module/neovim/lua/plugins/specs/lualine.lua
  module/neovim/lua/plugins/specs/nvim-tree.lua
  module/neovim/lua/plugins/specs/nvim-treesitter.lua
  module/neovim/lua/plugins/specs/smart-splits.lua
  module/neovim/lua/plugins/specs/telescope.lua
Due: stylua

feat(neovim): add 'codeium', 'comment', 'indent-blankline', 'nvim-autopairs', 'nvim-cmp' and 'todo-comments' plugins.
  module/neovim/default.nix
  module/neovim/lua/plugins/specs/comment.lua
  module/neovim/lua/plugins/specs/indent-blankline.lua
  module/neovim/lua/plugins/specs/nvim-autopairs.lua
  module/neovim/lua/plugins/specs/nvim-cmp.lua
  module/neovim/lua/plugins/specs/todo-comments.lua
Due: alejandra, stylua

chore(flake): update 'flake.lock'.
  flake.lock
Due: none

feat(neovim): make 'lualine' display better 'codeium'.
  module/neovim/lua/plugins/specs/lualine.lua
Due: stylua

feat(neovim): add 'notifier' to 'snacks'.
  module/neovim/lua/plugins/specs/snacks.lua
Due: stylua

feat(neovim): remove a key binding from 'snacks'.
  module/neovim/lua/plugins/specs/snacks.lua
Due: stylua

feat(neovim): add a key binding to 'codeium'. [no ci]
  module/neovim/lua/plugins/specs/codeium.lua
Due: stylua

feat(neovim): add key bindings to 'codeium'. [no ci]
  module/neovim/lua/plugins/specs/codeium.lua
Due: stylua

feat(neovim): change key bindings for 'snacks'. [no ci]
  module/neovim/lua/plugins/specs/snacks.lua
Due: stylua

style(neovim): change keybind description for 'snacks', 'todo-comments' and 'keybinds'.
  module/neovim/lua/core/keybinds.lua
  module/neovim/lua/plugins/specs/snacks.lua
  module/neovim/lua/plugins/specs/todo-comments.lua
Due: stylua

feat(neovim): add 'substitute' plugin.
  module/neovim/default.nix
  module/neovim/lua/plugins/specs/substitute.lua
Due: alejandra, stylua

feat(tmux): change bg selection color.
  module/tmux/tmux.conf
Due: none

feat(module): add lazygit module.
  host/Sulfyderz-MacBook-Pro/user/sulfyderz/home.nix
  module/lazygit/default.nix
Due: alejandra

feat(neovim): change keybindings for tab switching.
  module/neovim/lua/core/keybinds.lua
Due: stylua

feat(neovim): change keybindings for 'alpha-nvim'.
  module/neovim/lua/plugins/specs/alpha-nvim.lua
Due: stylua

feat(neovim): change diagnostic icons for lualine.
  module/neovim/lua/plugins/specs/lualine.lua
Due: stylua

feat(neovim): change keybindings for 'nvim-tree', 'telescope' and 'todo-comments'.
  module/neovim/lua/plugins/specs/nvim-tree.lua
  module/neovim/lua/plugins/specs/telescope.lua
  module/neovim/lua/plugins/specs/todo-comments.lua
Due: stylua

chore(neovim): improve comments.
  module/neovim/lua/plugins/specs/alpha-nvim.lua
  module/neovim/lua/plugins/specs/comment.lua
  module/neovim/lua/plugins/specs/lualine.lua
  module/neovim/lua/plugins/specs/nvim-autopairs.lua
  module/neovim/lua/plugins/specs/nvim-cmp.lua
  module/neovim/lua/plugins/specs/nvim-treesitter.lua
Due: stylua

feat(neovim): add 'conform', 'gitsigns', 'lazygit', 'mason', 'nvim-lint', 'nvim-lspconfig', 'nvim-surround' and 'trouble' plugins.
  module/neovim/default.nix
  module/neovim/lua/plugins/specs/conform.lua
  module/neovim/lua/plugins/specs/gitsigns.lua
  module/neovim/lua/plugins/specs/lazygit.lua
  module/neovim/lua/plugins/specs/mason.lua
  module/neovim/lua/plugins/specs/nvim-lint.lua
  module/neovim/lua/plugins/specs/nvim-lspconfig.lua
  module/neovim/lua/plugins/specs/nvim-surround.lua
  module/neovim/lua/plugins/specs/trouble.lua
Due: alejandra, stylua

Path conditions:
  alejandra: any of: \.nix$
  stylua: any of: \.lua$
