Repository pabroux/unvX: changes, and which pre-commit hooks are due for each by the changed paths.
All: alejandra, stylua, yamlfmt

alejandra:
  name: Alejandra (Nix formatter)
  description: This hook checks Nix files with Alejandra.
  entry: bash -c 'for arg in "$@"; do nix shell github:NixOS/nixpkgs/nixos-25.11#alejandra --command alejandra -q $arg; done;' --
  language: system

stylua:
  name: Stylua (Lua formatter)
  description: This hook checks Lua files with Stylua.
  entry: bash -c 'for arg in "$@"; do nix shell github:NixOS/nixpkgs/nixos-25.11#stylua --command stylua $arg; done;' --
  language: system

yamlfmt:
  name: Yamlfmt (YAML formatter)
  description: This hook checks YAML files with yamlfmt.
  entry: bash -c 'for arg in "$@"; do nix shell github:NixOS/nixpkgs/nixos-25.11#yamlfmt --command yamlfmt $arg; done;' --
  language: system

chore(pre-commit): pin nixpkgs version.
  .pre-commit-config.yaml
  install
Due: yamlfmt

docs: clean punctuation. [no ci]
  flake.nix
  install
  unvX.nix
Due: alejandra

test(actions): pin nixpkgs.
  .github/workflows/ci.yml
Due: yamlfmt

test(actions): change env scope.
  .github/workflows/ci.yml
Due: yamlfmt

chore(pre-commit): make it more efficient.
  .pre-commit-config.yaml
Due: yamlfmt

refactor(flake): use nix develop instead of nix shell.
  .pre-commit-config.yaml
  flake.lock
  flake.nix
Due: alejandra, yamlfmt

refactor(install): use nix develop instead of nix shell.
  install
Due: none

refactor(flake): remove duplicated chaining.
  flake.nix
Due: alejandra

test(actions): refactor QA.
  .github/workflows/ci.yml
Due: yamlfmt

chore(pre-commit): add another gitleaks hook.
  .pre-commit-config.yaml
Due: yamlfmt

docs(README): make logo smaller. [no ci]
  README.md
Due: none

docs(README): update mise link. [no ci]
  README.md
Due: none

docs(README): fix typo. [no ci]
  README.md
Due: none

chore(flake): update `flake.lock`. [no ci]
  flake.lock
Due: none

feat(homebrew): add zed.
  module/homebrew/default.nix
Due: alejandra

feat(homebrew): add zed config file.
  module/homebrew/app/zed/default.nix
  module/homebrew/app/zed/settings.json
Due: alejandra

chore(homebrew): remove miniconda and zed.
  module/homebrew/app/miniconda/default.nix
  module/homebrew/app/zed/default.nix
  module/homebrew/app/zed/settings.json
Due: alejandra

fix(homebrew): remove zed.
  module/homebrew/default.nix
Due: alejandra

fix(neovim): update plugins.
  module/neovim/lua/plugins/mason.lua
  module/neovim/lua/plugins/nvim-lspconfig.lua
Due: stylua

feat(zsh): add new exports.
  module/zsh/zshrc
Due: none

Path conditions:
  alejandra: any of: \.nix$
  stylua: any of: \.lua$
  yamlfmt: any of: \.(yaml|yml)$
