Repository pabroux/unvX: changes, and which pre-commit hooks are due for each by the changed paths.
All: alejandra, stylua

alejandra:
  name: Alejandra (Nix formatter)
  description: This hook checks Nix files with Alejandra.
  entry: bash -c 'for arg in "$@"; do nix shell nixpkgs#alejandra --command alejandra -q $arg; done;' --
  language: system

stylua:
  name: Stylua (Lua formatter)
  description: This hook checks Lua files with Stylua.
  entry: bash -c 'for arg in "$@"; do nix shell nixpkgs#stylua --command stylua $arg; done;' --
  language: system

feat(raycast): update config. [no ci]
  module/homebrew/app/raycast/raycast.rayconfig
Due: none

chore(flake): update 'flake.lock'. [no ci]
  flake.lock
Due: none

feat(yazi): update config. [no ci]
  module/yazi/package.toml
Due: none

feat(zsh): add a new 'pixi' alias.
  module/zsh/zshrc
Due: none

chore(README): fix punctuation. [no ci]
  README.md
Due: none

docs(README): remove extra lines. [no ci]
  README.md
Due: none

test: create dependabot.yml.
  .github/dependabot.yml
Due: none

feat(yazi): remove `package.toml`.
  module/yazi/default.nix
  module/yazi/package.toml
Due: alejandra

feat(yazi): add installations to `installYaziPlugins` step.
  module/yazi/default.nix
Due: alejandra

feat(neovim): rename `codeium` to `windsurf`.
  module/neovim/default.nix
  module/neovim/lua/plugins/windsurf.lua
Due: alejandra, stylua

Path conditions:
  alejandra: any of: \.nix$
  stylua: any of: \.lua$
