Repository pabroux/unvX: changes, and which pre-commit hooks are due for each by the changed paths.
All: alejandra, stylua

.pre-commit-config.yaml:

repos:
  - repo: local 
    hooks:
      - id: alejandra
        name: Alejandra (Nix formatter)
        description: This hook checks Nix files with Alejandra.
        entry: bash -c 'for arg in "$@"; do nix shell nixpkgs#alejandra --command alejandra -q $arg; done;' --
        language: system
        files: \.nix$
      - id: shfmt
        name: Sh (Shell formatter)
        description: This hook checks shell files with Stylua.
        entry: bash -c 'for arg in "$@"; do nix shell nixpkgs#shfmt --command shfmt -w $arg; done;' --
        language: system
        types_or: [ash, bash, dash, ksh, sh, zsh]
      - id: stylua
        name: Stylua (Lua formatter)
        description: This hook checks Lua files with Stylua.
        entry: bash -c 'for arg in "$@"; do nix shell nixpkgs#stylua --command stylua $arg; done;' --
        language: system
        files: \.lua$
      - id: gitleaks
        name: Gitleaks (Secret scanner)
        description: This hook checks the existence of secrets.
        entry: bash -c 'nix shell nixpkgs#gitleaks --command gitleaks git --pre-commit --redact --staged --no-banner --verbose 2> /dev/null'
        language: system
        pass_filenames: false

test(pre-commit): add gitleaks for files.
  .pre-commit-config.yaml
Due: none

test(actions): fix typo in 'Code quality checker'.
  .github/workflows/code_quality_checker.yml
Due: none

test(pre-commit): refactor gitleaks.
  .pre-commit-config.yaml
Due: none

test(actions): refactor 'Secret scanner' [no ci].
  .github/workflows/secret_scanner.yml
Due: none

feat(neovim): add 'alpha-nvim', 'auto-session', 'bufferline' and 'lualine' plugins.
  module/neovim/lua/plugins/specs/alpha-nvim.lua
  module/neovim/lua/plugins/specs/auto-session.lua
  module/neovim/lua/plugins/specs/bufferline.lua
  module/neovim/lua/plugins/specs/lualine.lua
Due: stylua

feat(neovim): change color scheme.
  module/neovim/lua/plugins/specs/tokyonight.lua
Due: stylua

feat(neovim): add 'alpha-nvim', 'auto-session', 'bufferline' and 'lualine' plugins.
  module/neovim/default.nix
Due: alejandra

feat(starship): change color scheme.
  module/starship/starship.toml
Due: none

feat(zsh): add new key binding and new color scheme for fzf.
  module/zsh/zshrc
Due: none

feat(tmux): change color scheme.
  module/tmux/tmux.conf
Due: none

fix(neovim): make 'lualine' handle 'nvim-tree'. [no ci]
  module/neovim/lua/plugins/specs/lualine.lua
Due: stylua

chore(flake): update packages. [no ci]
  flake.lock
Due: none

style(neovim): format plugins.
  module/neovim/lua/plugins/specs/auto-session.lua
  module/neovim/lua/plugins/specs/codeium.lua
  module/neovim/lua/plugins/specs/smart-splits.lua
  module/neovim/lua/plugins/specs/which-key.lua
Due: stylua

feat(neovim): remove showmode.
  module/neovim/lua/core/options.lua
Due: stylua

feat(neovim): change alias for equal size for panes. [no ci]
  module/neovim/lua/core/keybinds.lua
Due: stylua

feat(neovim): add 'snacks' and 'zen-mode' plugins.
  module/neovim/default.nix
  module/neovim/lua/plugins/specs/snacks.lua
  module/neovim/lua/plugins/specs/zen-mode.lua
Due: alejandra, stylua

feat(neovim): custom symlink arrow in 'nvim-tree'.
  module/neovim/lua/plugins/specs/nvim-tree.lua
Due: stylua

fix(neovim): load 'auto-session' correctly when 'alpha-nvim' activated.
  module/neovim/lua/plugins/specs/alpha-nvim.lua
Due: stylua

fix(neovim): correct a 'smart-splits' alias.
  module/neovim/lua/plugins/specs/smart-splits.lua
Due: stylua

feat(neovim): add 'nvim-treesitter' plugin.
  module/neovim/default.nix
  module/neovim/lua/plugins/specs/nvim-treesitter.lua
Due: alejandra, stylua
