Repository pabroux/unvX: changes, and which pre-commit hooks are due for each by the changed paths.
All: alejandra, stylua, yamlfmt

alejandra:
  name: Alejandra
  description: This hook checks Nix files with Alejandra.
  entry: nix develop . -c bash -c 'for f in "$@"; do alejandra -q "$f"; done' --
  language: system

stylua:
  name: Stylua
  description: This hook checks Lua files with Stylua.
  entry: nix develop . -c stylua
  language: system

yamlfmt:
  name: Yamlfmt
  description: This hook checks YAML files with yamlfmt.
  entry: nix develop . -c yamlfmt
  language: system

ci: update names
  .github/workflows/ci.yml
Due: yamlfmt

refactor: use `prek` instead of `pre-commit`
  .github/workflows/ci.yml
  .gitlint
  .pre-commit-config.yaml
  README.md
  flake.nix
  install
  prek.toml
Due: alejandra, yamlfmt

docs(README): make it consistent [no ci]
  README.md
Due: none

docs(README): make logo in light and dark mode [no ci]
  README.md
Due: none

ci: make name consistent [no ci]
  .github/workflows/ci.yml
Due: yamlfmt

docs(README): reorder badges according to convention [no ci]
  README.md
Due: none

chore(claude): update claude related files to reflect current changes [no ci]
  .claude/settings.json
  CLAUDE.md
Due: none

docs(README): fix typo [no ci]
  README.md
Due: none

chore(flake): add `git` as devShells [no ci]
  flake.nix
Due: alejandra

chore(prek): adjust logs [no ci]
  prek.toml
Due: none

chore(neovim): remove `windsurf`
  module/neovim/lua/plugins/lualine.lua
  module/neovim/lua/plugins/windsurf.lua
Due: stylua

feat(homebrew): add `claude` desktop
  module/homebrew/default.nix
Due: alejandra

fix(neovim): adjust `nvim-treesitter` changes
  module/neovim/lua/plugins/nvim-treesitter.lua
Due: stylua

feat(claude): add rtk
  module/claude-code/default.nix
  module/claude-code/settings.json
Due: alejandra

style: change style for permissions
  module/homebrew/app/raycast/default.nix
  module/yabai/default.nix
Due: alejandra

fix(lazygit): correct yaml
  module/lazygit/config.yml
Due: yamlfmt

fix(neovim): use correct version for telescope
  module/neovim/lua/plugins/telescope.lua
Due: stylua

fix(claude): upgrade effort level
  module/claude-code/settings.json
Due: none

chore(neovim): remove treesitter
  module/neovim/lua/plugins/nvim-treesitter.lua
Due: stylua

refactor(neovim): move nodejs dependency into neovim module
  host/Sulfyderz-MacBook-Pro/user/sulfyderz/home.nix
  module/neovim/default.nix
  module/nodejs/default.nix
Due: alejandra

feat(claude): add voice and fullscreen tui
  module/claude-code/settings.json
Due: none

feat(raycast): update snippets [no ci]
  module/homebrew/app/raycast/raycast.rayconfig
Due: none

feat(claude): update default settings [no ci]
  module/claude-code/settings.json
Due: none

feat(lazygit): update config
  module/lazygit/config.yml
Due: yamlfmt

chore(flake): update `flake.lock`
  flake.lock
Due: none

refactor(zsh): improve aliases
  module/zsh/zshrc
Due: none

feat(claude): set sandbox on by default
  module/claude-code/settings.json
Due: none

chore(prek): add biome as json formmatter
  .claude/settings.json
  flake.nix
  module/claude-code/settings.json
  prek.toml
Due: alejandra

feat(raycast): replace some snippets with new ones
  module/homebrew/app/raycast/raycast.rayconfig
Due: none

fix(claude): rename skills to avoid conflicts
  module/claude-code/settings.json
  module/claude-code/skills/code-review-codebase/SKILL.md
  module/git/ignore
Due: none

feat(zsh): add alias for git worktree
  module/zsh/zshrc
Due: none

feat: add herdr
  host/Sulfyderz-MacBook-Pro/user/sulfyderz/home.nix
  module/herdr/config.toml
  module/herdr/default.nix
Due: alejandra

Path conditions:
  alejandra: any of: \.nix$
  stylua: any of: \.lua$
  yamlfmt: any of: \.(yaml|yml)$
