Repository pabroux/unvX: changes, and which pre-commit hooks are due for each by the changed paths.
All: alejandra, stylua, yamlfmt

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: alejandra
        name: Alejandra (Nix formatter)
        description: This hook checks Nix files with Alejandra.
        entry: bash -c 'for arg in "$@"; do nix shell nixpkgs#alejandra --command alejandra -q $arg; done;' --
        language: system
        files: \.nix$
      - id: shfmt
        name: Sh (shell formatter)
        description: This hook checks shell files with shfmt.
        entry: bash -c 'for arg in "$@"; do nix shell nixpkgs#shfmt --command shfmt -w $arg; done;' --
        language: system
        types: [shell]
      - id: stylua
        name: Stylua (Lua formatter)
        description: This hook checks Lua files with Stylua.
        entry: bash -c 'for arg in "$@"; do nix shell nixpkgs#stylua --command stylua $arg; done;' --
        language: system
        files: \.lua$
      - id: yamlfmt
        name: Yamlfmt (YAML formatter)
        description: This hook checks YAML files with yamlfmt.
        entry: bash -c 'for arg in "$@"; do nix shell nixpkgs#yamlfmt --command yamlfmt $arg; done;' --
        language: system
        types: [yaml]
      - id: gitleaks
        name: Gitleaks (secret scanner)
        description: This hook checks the existence of secrets.
        entry: bash -c 'nix shell nixpkgs#gitleaks --command gitleaks git --pre-commit --staged --redact --no-banner --verbose 2> /dev/null; nix shell nixpkgs#gitleaks --command gitleaks git --redact --no-banner --verbose 2> /dev/null'
        language: system
        pass_filenames: false

chore(flake): update `flake.lock`. [no ci]
  flake.lock
Due: none

feat(raycast): update config.
  module/homebrew/app/raycast/raycast.rayconfig
Due: none

fix(lazygit): update config.
  flake.lock
  module/lazygit/config.yml
Due: yamlfmt

refactor(homebrew): make one call for brew.
  module/homebrew/default.nix
Due: alejandra

chore(pre-commit): adjust default stages.
  .pre-commit-config.yaml
Due: yamlfmt

feat(homebrew): add `logi-options+`.
  module/homebrew/default.nix
Due: alejandra

feat(git): add a new alias.
  module/git/gitconfig
Due: none

docs(readme): update the style. [no ci]
  README.md
Due: none

docs(readme): add metadata on resources.
  README.md
Due: none
