Repository pabroux/unvX: changes, and which pre-commit hooks are due for each by the changed paths.
All: alejandra, stylua, yamlfmt

alejandra:
  name: Alejandra
  description: This hook checks Nix files with Alejandra.
  entry: nix develop . -c bash -c 'for f in "$@"; do alejandra -q "$f"; done' --
  language: system

stylua:
  name: Stylua
  description: This hook checks Lua files with Stylua.
  entry: nix develop . -c stylua
  language: system

yamlfmt:
  name: Yamlfmt
  description: This hook checks YAML files with yamlfmt.
  entry: nix develop . -c yamlfmt
  language: system

feat(claude): add herdr hook
  module/claude-code/settings.json
Due: none

feat(tmux): change bindings
  module/tmux/tmux.conf
Due: none

feat(zsh): add herdr alias
  module/zsh/zshrc
Due: none

chore(flake): update home-manager
  flake.lock
Due: none

refactor(claude): rewrite `code-review-codebase` skill [no ci]
  module/claude-code/skills/code-review-codebase/SKILL.md
Due: none

docs(README): update license link to use 'main' branch
  README.md
Due: none

ci: change CI branch from 'master' to 'main'
  .github/workflows/ci.yml
Due: yamlfmt

fix(claude): adjust permissions
  module/claude-code/settings.json
Due: none

docs(ci): improve description [no ci]
  .github/workflows/ci.yml
Due: yamlfmt

feat(claude): update settings
  module/claude-code/settings.json
Due: none

chore(dependabot): update dependabot config [no ci]
  .github/dependabot.yml
Due: yamlfmt

feat(raycast): update config to v2
  module/homebrew/app/raycast/raycast.rayconfig
Due: none

feat: make prompt for input loop until it's valid
  module/brew/app/raycast/default.nix
  module/yabai/default.nix
Due: alejandra

fix(tmux): rewrite message style and message command style with tmux 3.7
  module/tmux/tmux.conf
Due: none

refactor: respect better nix mentality
  module/tmux/default.nix
  module/tmux/tmux.conf
  module/vim/default.nix
  module/vim/vimrc
  module/yazi/default.nix
  module/yazi/keymap.toml
  module/yazi/theme.toml
  module/yazi/yazi.toml
Due: alejandra

feat: update herdr and ghostty style
  module/brew/app/ghostty/config
  module/herdr/config.toml
Due: none

refactor: file to symlink [no ci]
  module/claude/default.nix
  module/gh/default.nix
  module/git/default.nix
  module/git/ignore
  module/yazi/default.nix
Due: alejandra

refactor(nvim): use LazyVim distro
  module/nvim/default.nix
  module/nvim/init.lua
  module/nvim/lazy-lock.json
  module/nvim/lazyvim.json
  module/nvim/lua/config/autocmds.lua
  module/nvim/lua/config/keymaps.lua
  module/nvim/lua/config/lazy.lua
  module/nvim/lua/config/options.lua
  module/nvim/lua/config/palette.lua
  module/nvim/lua/core/init.lua
  module/nvim/lua/core/keybinds.lua
  module/nvim/lua/core/options.lua
  module/nvim/lua/plugins/alpha-nvim.lua
  module/nvim/lua/plugins/auto-session.lua
  module/nvim/lua/plugins/bufferline.lua
  module/nvim/lua/plugins/comment.lua
  module/nvim/lua/plugins/conform.lua
  module/nvim/lua/plugins/flash.lua
  module/nvim/lua/plugins/fzf-lua.lua
  module/nvim/lua/plugins/gitsigns.lua
  module/nvim/lua/plugins/indent-blankline.lua
  module/nvim/lua/plugins/lazygit.lua
  module/nvim/lua/plugins/lualine.lua
  module/nvim/lua/plugins/mason.lua
  module/nvim/lua/plugins/noice.lua
  module/nvim/lua/plugins/nvim-autopairs.lua
  module/nvim/lua/plugins/nvim-cmp.lua
  module/nvim/lua/plugins/nvim-lint.lua
  module/nvim/lua/plugins/nvim-lspconfig.lua
  module/nvim/lua/plugins/nvim-surround.lua
  module/nvim/lua/plugins/nvim-tree.lua
  module/nvim/lua/plugins/smart-splits.lua
  module/nvim/lua/plugins/snacks.lua
  module/nvim/lua/plugins/substitute.lua
  module/nvim/lua/plugins/telescope.lua
  module/nvim/lua/plugins/todo-comments.lua
  module/nvim/lua/plugins/toggleterm.lua
  module/nvim/lua/plugins/tokyonight.lua
  module/nvim/lua/plugins/trouble.lua
  module/nvim/lua/plugins/which-key.lua
Due: alejandra, stylua

feat(claude): add karpathy-skills
  module/claude/settings.json
Due: none

feat(module): add tailscale
  host/Sulfyderz-MacBook-Pro/user/sulfyderz/home.nix
  module/tailscale/default.nix
  module/zsh/zshrc
Due: alejandra

style(zsh): remove extra spaces
  module/zsh/zshrc
Due: none

chore: remove tailscale cli
  host/Sulfyderz-MacBook-Pro/user/sulfyderz/home.nix
  module/tailscale/default.nix
Due: alejandra

feat(brew): add tailscale
  module/brew/default.nix
Due: alejandra

chore: update dependabot.yml [no ci]
  .github/dependabot.yml
Due: yamlfmt

feat(raycast): add snippets
  module/brew/app/raycast/raycast.rayconfig
Due: none

chore(flake): update `flake.lock`
  flake.lock
Due: none

chore(prek): deactivate `biome` formatting for `lazy-lock.json`
  module/nvim/lazy-lock.json
  prek.toml
Due: none

ci: rename jobs [no ci]
  .github/workflows/ci.yml
Due: yamlfmt

feat(claude): adjust settings [no ci]
  module/claude/settings.json
Due: none

Path conditions:
  alejandra: any of: \.nix$
  stylua: any of: \.lua$
  yamlfmt: any of: \.(yaml|yml)$
