Repository pabroux/unvX: changes, and which pre-commit hooks are due for each by the changed paths.
All: alejandra, stylua, yamlfmt

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: alejandra
        name: Alejandra (Nix formatter)
        description: This hook checks Nix files with Alejandra.
        entry: bash -c 'for arg in "$@"; do nix shell nixpkgs#alejandra --command alejandra -q $arg; done;' --
        language: system
        files: \.nix$
      - id: shfmt
        name: Sh (shell formatter)
        description: This hook checks shell files with shfmt.
        entry: bash -c 'for arg in "$@"; do nix shell nixpkgs#shfmt --command shfmt -w $arg; done;' --
        language: system
        types: [shell]
      - id: stylua
        name: Stylua (Lua formatter)
        description: This hook checks Lua files with Stylua.
        entry: bash -c 'for arg in "$@"; do nix shell nixpkgs#stylua --command stylua $arg; done;' --
        language: system
        files: \.lua$
      - id: yamlfmt
        name: Yamlfmt (YAML formatter)
        description: This hook checks YAML files with yamlfmt.
        entry: bash -c 'for arg in "$@"; do nix shell nixpkgs#yamlfmt --command yamlfmt $arg; done;' --
        language: system
        types: [yaml]
      - id: gitleaks
        name: Gitleaks (secret scanner)
        description: This hook checks the existence of secrets.
        entry: bash -c 'nix shell nixpkgs#gitleaks --command gitleaks git --pre-commit --staged --redact --no-banner --verbose 2> /dev/null; nix shell nixpkgs#gitleaks --command gitleaks git --redact --no-banner --verbose 2> /dev/null'
        language: system
        pass_filenames: false

chore(flake): update `flake.lock`. [no ci]
  flake.lock
Due: none

test(actions): avoid concurrency processes.
  .github/workflows/code-quality-checker.yml
  .github/workflows/code-security-checker.yml
Due: yamlfmt

feat(zsh): add new aliases for `nix` and `home-manager`.
  module/zsh/zshrc
Due: none

style(flake): make input calls explicit.
  flake.nix
Due: alejandra

feat(raycast): update config.
  module/homebrew/app/raycast/raycast.rayconfig
Due: none

feat(neovim): remove lsp servers from `mason`.
  module/neovim/lua/plugins/mason.lua
Due: stylua

feat(neovim): remove linter from `nvim-lint`.
  module/neovim/lua/plugins/nvim-lint.lua
Due: stylua

docs(README): improve note related to unvX.
  README.md
Due: none

docs(README): improve note related to unvX. [no ci]
  README.md
Due: none
