Repository pabroux/unvX: changes, and which pre-commit hooks are due for each by the changed paths.
All: alejandra, stylua

alejandra:
  name: Alejandra (Nix formatter)
  description: This hook checks Nix files with Alejandra.
  entry: bash -c 'for arg in "$@"; do nix shell nixpkgs#alejandra --command alejandra -q $arg; done;' --
  language: system

stylua:
  name: Stylua (Lua formatter)
  description: This hook checks Lua files with Stylua.
  entry: bash -c 'for arg in "$@"; do nix shell nixpkgs#stylua --command stylua $arg; done;' --
  language: system

feat: add 'yazi' module.
  module/yazi/default.nix
  module/yazi/init.lua
  module/yazi/keymap.toml
  module/yazi/theme.toml
  module/yazi/yazi.toml
Due: alejandra, stylua

feat(zsh): add 'yazi' function.
  module/zsh/zshrc
Due: none

feat(host): add 'yazi' to sulfyderz profile.
  host/Sulfyderz-MacBook-Pro/user/sulfyderz/home.nix
Due: alejandra

fix(yazi): fix yazi plugin installation.
  module/yazi/default.nix
  module/yazi/package.toml
Due: alejandra

fix: specify mutliple events for dag.
  module/neovim/default.nix
  module/vim/default.nix
  module/yabai/default.nix
Due: alejandra

feat(neovim): deactivate 'codeium' for 'telescope'.
  module/neovim/lua/plugins/codeium.lua
Due: stylua

feat(zsh): add new alias for 'home-manager'.
  module/zsh/zshrc
Due: none

feat(neovim): add build step to 'mason'.
  module/neovim/lua/plugins/mason.lua
Due: stylua

chore(flake): update 'flake.lock'.
  flake.lock
Due: none

feat(raycast): update config. [no ci]
  module/homebrew/app/raycast/raycast.rayconfig
Due: none

chore(flake): update 'flake.lock'. [no ci]
  flake.lock
Due: none

feat: add 'lazydocker' module.
  module/lazydocker/config.yml
  module/lazydocker/default.nix
Due: alejandra

feat(host): add 'lazydocker' to sulfyderz profile.
  host/Sulfyderz-MacBook-Pro/user/sulfyderz/home.nix
Due: alejandra

feat(zsh): add aliases for 'git' and 'lazydocker'.
  module/zsh/zshrc
Due: none

feat(zsh): add alias for 'nix'.
  module/zsh/zshrc
Due: none

chore(yazi): update revision. [no ci]
  module/yazi/package.toml
Due: none

feat(module): add 'gobuster' module.
  module/gobuster/default.nix
Due: alejandra

Path conditions:
  alejandra: any of: \.nix$
  stylua: any of: \.lua$
