Repository pabroux/unvX: changes, and which pre-commit hooks are due for each by the changed paths.
All: alejandra, stylua

alejandra:
  name: Alejandra (Nix formatter)
  description: This hook checks Nix files with Alejandra.
  entry: bash -c 'for arg in "$@"; do nix shell nixpkgs#alejandra --command alejandra -q $arg; done;' --
  language: system

stylua:
  name: Stylua (Lua formatter)
  description: This hook checks Lua files with Stylua.
  entry: bash -c 'for arg in "$@"; do nix shell nixpkgs#stylua --command stylua $arg; done;' --
  language: system

feat(module): add 'gobuster' module.
  module/gobuster/default.nix
Due: alejandra

feat(host): add 'gobuster' to sulfyderz profile.
  host/Sulfyderz-MacBook-Pro/user/sulfyderz/home.nix
Due: alejandra

chore(flake): update 'flake.lock'. [no ci]
  flake.lock
Due: none

feat(module): add 'uv' module.
  module/uv/default.nix
Due: alejandra

feat(module): add 'pixi' module.
  module/pixi/default.nix
Due: alejandra

feat(homebrew): deactivate 'miniconda'.
  module/homebrew/default.nix
Due: alejandra

feat(pixi): deactivate ps1 prompt modification.
  module/pixi/default.nix
Due: alejandra

feat(zsh): remove 'conda' aliases.
  module/zsh/zshrc
Due: none

feat(zsh): add 'pixi' alias.
  module/zsh/zshrc
Due: none

feat(host): add 'pixi' and 'uv' to sulfyderz profile.
  host/Sulfyderz-MacBook-Pro/user/sulfyderz/home.nix
Due: alejandra

fix(pixi): fix ps1 prompt deactivation.
  module/pixi/default.nix
Due: alejandra

feat(zsh): add a new 'pixi' alias.
  module/zsh/zshrc
Due: none

feat(neovim): remove 'ltex' from 'mason'.
  module/neovim/lua/plugins/mason.lua
Due: stylua

feat(raycast): update config. [no ci]
  module/homebrew/app/raycast/raycast.rayconfig
Due: none

feat(homebrew): add `obsidian`.
  module/homebrew/default.nix
Due: alejandra

Path conditions:
  alejandra: any of: \.nix$
  stylua: any of: \.lua$
