Repository pabroux/unvX: changes, and which pre-commit hooks are due for each by the changed paths.
All: alejandra, stylua

alejandra:
  name: Alejandra (Nix formatter)
  description: This hook checks Nix files with Alejandra.
  entry: bash -c 'for arg in "$@"; do nix shell nixpkgs#alejandra --command alejandra -q $arg; done;' --
  language: system

stylua:
  name: Stylua (Lua formatter)
  description: This hook checks Lua files with Stylua.
  entry: bash -c 'for arg in "$@"; do nix shell nixpkgs#stylua --command stylua $arg; done;' --
  language: system

style(vim): remove useless new line.
  module/vim/vimrc
Due: none

feat(tmux): add RGB-color support.
  module/tmux/tmux.conf
Due: none

feat(neovim): add keybindings.
  module/neovim/lua/core/keybinds.lua
Due: stylua

fix(neovim): remove redundant 'lazy.nvim' calls.
  module/neovim/default.nix
Due: alejandra

feat(neovim): add 'tokyonight.lua' plugin.
  module/neovim/lua/plugins/specs/tokyonight.lua
Due: stylua

feat(git): add new aliases.
  module/git/gitconfig
Due: none

chore(flake): update.
  flake.lock
Due: none

feat(ghostty): change color scheme.
  module/homebrew/app/ghostty/config
Due: none

feat(zsh): set nvim as default editor.
  module/zsh/zshrc
Due: none

feat(tmux): change color scheme.
  module/tmux/tmux.conf
Due: none

feat(neovim): change color scheme.
  module/neovim/lua/plugins/specs/tokyonight.lua
Due: stylua

feat(neovim): add 'nvim-tree' and 'which-key' plugins.
  module/neovim/lua/plugins/specs/nvim-tree.lua
  module/neovim/lua/plugins/specs/which-key.lua
Due: stylua

feat(neovim): add 'nvim-tree' and 'which-key' plugins in the neovim module.
  module/neovim/default.nix
Due: alejandra

style(neovim): change keybind descriptions.
  module/neovim/lua/core/keybinds.lua
  module/neovim/lua/plugins/specs/smart-splits.lua
  module/neovim/lua/plugins/specs/tokyonight.lua
Due: stylua

feat(module): add ripgrep module.
  module/ripgrep/default.nix
Due: alejandra

feat(neovim): add 'telescope' plugin.
  module/neovim/lua/plugins/specs/telescope.lua
Due: stylua

feat(neovim): make nvim-tree auto-refresh.
  module/neovim/lua/plugins/specs/nvim-tree.lua
Due: stylua

feat(sulfyderz): add ripgrep module.
  host/Sulfyderz-MacBook-Pro/user/sulfyderz/home.nix
Due: alejandra

feat(neovim): add 'telescope' plugin.
  module/neovim/default.nix
  module/neovim/lua/plugins/specs/telescope.lua
Due: alejandra, stylua

feat(neovim): add new aliases for 'telescope' plugin.
  module/neovim/lua/plugins/specs/telescope.lua
Due: stylua

style(neovim): lowercase 'cr'.
  module/neovim/lua/core/keybinds.lua
  module/neovim/lua/plugins/specs/nvim-tree.lua
Due: stylua

Path conditions:
  alejandra: any of: \.nix$
  stylua: any of: \.lua$
