Repository pabroux/unvX: changes, and which pre-commit hooks are due for each by the changed paths.
All: alejandra, stylua

.pre-commit-config.yaml:

repos:
  - repo: local 
    hooks:
      - id: alejandra
        name: Alejandra (Nix formatter)
        description: This hook checks Nix files with Alejandra.
        entry: bash -c 'for arg in "$@"; do nix shell nixpkgs#alejandra --command alejandra -q $arg; done;' --
        language: system
        files: \.nix$
      - id: shfmt
        name: Sh (Shell formatter)
        description: This hook checks shell files with Stylua.
        entry: bash -c 'for arg in "$@"; do nix shell nixpkgs#shfmt --command shfmt -w $arg; done;' --
        language: system
        types_or: [ash, bash, dash, ksh, sh, zsh]
      - id: stylua
        name: Stylua (Lua formatter)
        description: This hook checks Lua files with Stylua.
        entry: bash -c 'for arg in "$@"; do nix shell nixpkgs#stylua --command stylua $arg; done;' --
        language: system
        files: \.lua$
      - id: gitleaks
        name: Gitleaks (Secret scanner)
        description: This hook checks the existence of secrets.
        entry: bash -c 'nix shell nixpkgs#gitleaks --command gitleaks git --pre-commit --redact --staged --no-banner --verbose 2> /dev/null'
        language: system
        pass_filenames: false

feat(neovim): add 'conform', 'gitsigns', 'lazygit', 'mason', 'nvim-lint', 'nvim-lspconfig', 'nvim-surround' and 'trouble' plugins.
  module/neovim/default.nix
  module/neovim/lua/plugins/specs/conform.lua
  module/neovim/lua/plugins/specs/gitsigns.lua
  module/neovim/lua/plugins/specs/lazygit.lua
  module/neovim/lua/plugins/specs/mason.lua
  module/neovim/lua/plugins/specs/nvim-lint.lua
  module/neovim/lua/plugins/specs/nvim-lspconfig.lua
  module/neovim/lua/plugins/specs/nvim-surround.lua
  module/neovim/lua/plugins/specs/trouble.lua
Due: alejandra, stylua

feat(zsh): add an alias for 'lazygit'.
  module/zsh/zshrc
Due: none

feat(lazygit): define a new color scheme.
  module/lazygit/config.yml
  module/lazygit/default.nix
  module/zsh/zshrc
Due: alejandra

feat(neovim): add new aliases to 'nvim-lspconfig'.
  module/neovim/lua/plugins/specs/nvim-lspconfig.lua
Due: stylua

style(neovim): follow alphabetical order for keybindings.
  module/neovim/lua/plugins/specs/nvim-tree.lua
Due: stylua

feat(neovim): remove linters and formatters from 'mason'. [no ci]
  module/neovim/lua/plugins/specs/mason.lua
Due: stylua

chore(neovim): change folder structure.
  module/neovim/default.nix
  module/neovim/init.lua
  module/neovim/lua/core/init.lua
  module/neovim/lua/core/keybinds.lua
  module/neovim/lua/core/lazy.lua
  module/neovim/lua/plugins/alpha-nvim.lua
  module/neovim/lua/plugins/auto-session.lua
  module/neovim/lua/plugins/bufferline.lua
  module/neovim/lua/plugins/codeium.lua
  module/neovim/lua/plugins/comment.lua
  module/neovim/lua/plugins/conform.lua
  module/neovim/lua/plugins/gitsigns.lua
  module/neovim/lua/plugins/indent-blankline.lua
  module/neovim/lua/plugins/init.lua
  module/neovim/lua/plugins/lazygit.lua
  module/neovim/lua/plugins/lualine.lua
  module/neovim/lua/plugins/mason.lua
  module/neovim/lua/plugins/nvim-autopairs.lua
  module/neovim/lua/plugins/nvim-cmp.lua
  module/neovim/lua/plugins/nvim-lint.lua
  module/neovim/lua/plugins/nvim-lspconfig.lua
  module/neovim/lua/plugins/nvim-surround.lua
  module/neovim/lua/plugins/nvim-tree.lua
  module/neovim/lua/plugins/nvim-treesitter.lua
  module/neovim/lua/plugins/smart-splits.lua
  module/neovim/lua/plugins/snacks.lua
  module/neovim/lua/plugins/specs/zen-mode.lua
  module/neovim/lua/plugins/substitute.lua
  module/neovim/lua/plugins/telescope.lua
  module/neovim/lua/plugins/todo-comments.lua
  module/neovim/lua/plugins/tokyonight.lua
  module/neovim/lua/plugins/trouble.lua
  module/neovim/lua/plugins/which-key.lua
Due: alejandra, stylua

feat(neovim): remove 'zen-mode'.
  module/neovim/default.nix
Due: alejandra

feat(neovim): add 'toggleterm'.
  module/neovim/default.nix
  module/neovim/lua/plugins/toggleterm.lua
Due: alejandra, stylua

feat(raycast): update config. [no ci]
  module/homebrew/app/raycast/raycast.rayconfig
Due: none

fix(neovim): correct color cursor for terminal mode.
  module/neovim/lua/core/options.lua
Due: stylua

feat(tmux): change key bindings.
  module/tmux/tmux.conf
Due: none

feat(neovim): change keybindings for terminal mode and 'telescope'.
  module/neovim/lua/core/keybinds.lua
  module/neovim/lua/plugins/telescope.lua
Due: stylua

chore(flake): update 'flake.lock'. [no ci]
  flake.lock
Due: none

feat(zsh): change alias for tmux kill. [no ci]
  module/zsh/zshrc
Due: none

docs(README): add github action badges.
  README.md
Due: none

chore(actions): rename GitHub Actions workflows.
  .github/workflows/code-quality-checker.yml
  .github/workflows/secret-scanner.yml
  README.md
Due: none

chore(pre-commit): fix typo. [no ci]
  .pre-commit-config.yaml
Due: none

test(pre-commit): fix shfmt types. [no ci]
  .pre-commit-config.yaml
Due: none
