Repository pabroux/unvX: changes, and which pre-commit hooks are due for each by the changed paths.
All: alejandra, stylua

.pre-commit-config.yaml:

repos:
  - repo: local 
    hooks:
      - id: alejandra
        name: Alejandra (Nix formatter)
        description: This hook checks Nix files with Alejandra.
        entry: bash -c 'for arg in "$@"; do nix shell nixpkgs#alejandra --command alejandra -q $arg; done;' --
        language: system
        files: \.nix$
      - id: shfmt
        name: Sh (shell formatter)
        description: This hook checks shell files with shfmt.
        entry: bash -c 'for arg in "$@"; do nix shell nixpkgs#shfmt --command shfmt -w $arg; done;' --
        language: system
        types_or: [ash, bash, dash, ksh, sh, zsh]
      - id: stylua
        name: Stylua (Lua formatter)
        description: This hook checks Lua files with Stylua.
        entry: bash -c 'for arg in "$@"; do nix shell nixpkgs#stylua --command stylua $arg; done;' --
        language: system
        files: \.lua$
      - id: gitleaks
        name: Gitleaks (secret scanner)
        description: This hook checks the existence of secrets.
        entry: bash -c 'nix shell nixpkgs#gitleaks --command gitleaks git --pre-commit --redact --staged --no-banner --verbose 2> /dev/null; nix shell nixpkgs#gitleaks --command gitleaks dir --redact --no-banner --verbose 2> /dev/null'
        language: system
        pass_filenames: false

feat(zsh): add aliases for `terraform`.
  module/zsh/zshrc
Due: none

chore(flake): update 'flake.lock'. [no ci]
  flake.lock
Due: none

feat: add `huggingface-cli` module.
  module/huggingface-cli/default.nix
Due: alejandra

feat(host): add `huggingface-cli` to `sulfyderz` profile.
  host/Sulfyderz-MacBook-Pro/user/sulfyderz/home.nix
Due: alejandra

feat(zsh): add a `huggingface-cli` alias.
  module/zsh/zshrc
Due: none

feat(neovim): update `nvim-tree` keybinding.
  module/neovim/lua/plugins/nvim-tree.lua
Due: stylua

feat(zsh): add a new alias for `pixi`.
  module/zsh/zshrc
Due: none

feat(module): add `aws-cli` module.
  module/aws-cli/default.nix
Due: alejandra

feat(host): add `aws-cli` to sulfyderz profile.
  host/Sulfyderz-MacBook-Pro/user/sulfyderz/home.nix
Due: alejandra

feat(starship): deactivate `aws`.
  module/starship/starship.toml
Due: none

fix(neovim): update `mason_lspconfig` settings.
  module/neovim/lua/plugins/nvim-lspconfig.lua
Due: stylua

feat(zsh): add a new alias for `nix`.
  module/zsh/zshrc
Due: none

feat(module): add `mongosh` module.
  module/mongosh/default.nix
Due: alejandra

feat(host): add `mongosh` to sulfyderz profile.
  host/Sulfyderz-MacBook-Pro/user/sulfyderz/home.nix
Due: alejandra
