Repository pabroux/unvX: changes, and which pre-commit hooks are due for each by the changed paths.
All: alejandra, stylua, yamlfmt

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types: [pre-commit, commit-msg]
repos:
  - repo: local
    hooks:
      - id: alejandra
        name: Alejandra
        description: This hook checks Nix files with Alejandra.
        entry: nix develop . -c bash -c 'for f in "$@"; do alejandra -q "$f"; done' --
        language: system
        files: \.nix$
      - id: shfmt
        name: Sh
        description: This hook checks shell files with shfmt.
        entry: nix develop . -c bash -c 'for f in "$@"; do shfmt -w "$f"; done' --
        language: system
        types: [shell]
      - id: stylua
        name: Stylua
        description: This hook checks Lua files with Stylua.
        entry: nix develop . -c stylua
        language: system
        files: \.lua$
      - id: yamlfmt
        name: Yamlfmt
        description: This hook checks YAML files with yamlfmt.
        entry: nix develop . -c yamlfmt
        language: system
        types: [yaml]
      - id: gitlint
        name: Gitlint
        description: This hook checks git commit messages with gitlint.
        entry: nix develop . -c gitlint --staged --msg-filename
        language: system
        stages: [commit-msg]
      - id: gitleaks
        name: Gitleaks (staged)
        description: This hook checks the existence of secrets.
        entry: nix develop . -c gitleaks protect --staged --redact --no-banner --verbose
        language: system
        pass_filenames: false
      - id: gitleaks
        name: Gitleaks (full history)
        description: This hook checks the existence of secrets.
        entry: nix develop . -c gitleaks detect --redact --no-banner --verbose
        language: system
        pass_filenames: false

feat(zsh): add new exports.
  module/zsh/zshrc
Due: none

feat(mise): add config file.
  module/mise/config.toml
  module/mise/default.nix
Due: alejandra

feat(git): use XDG.
  module/git/config
  module/git/default.nix
  module/git/ignore
Due: alejandra

feat(neovim): clean lsp servers mason.
  module/neovim/lua/plugins/mason.lua
Due: stylua

feat(zshrc): add new env vars.
  module/zsh/zshrc
Due: none

feat(neovim): add `quick_lint_js`.
  module/neovim/lua/plugins/mason.lua
Due: stylua

docs(README): update badges. [no ci]
  README.md
Due: none

Revert "refactor(host): remove unfree predicate. [no ci]"
  host/Sulfyderz-MacBook-Pro/user/sulfyderz/home.nix
Due: alejandra

feat(module): add nodejs.
  module/nodejs/default.nix
Due: alejandra

feat(module): add claude code.
  module/claude-code/default.nix
  module/claude-code/settings.json
Due: alejandra

feat(host): add claude-code and nodejs.
  host/Sulfyderz-MacBook-Pro/user/sulfyderz/home.nix
Due: alejandra

feat(claude): add agents.
  module/claude-code/agents/DocsExplorer.md
  module/claude-code/default.nix
Due: alejandra

refactor(neovim): remove explicit plugins.
  module/neovim/default.nix
Due: alejandra

refactor(claude): remove explicit agents.
  module/claude-code/default.nix
Due: alejandra

chore: add `CLAUDE.md`.
  CLAUDE.md
Due: none

docs(README): add claude badge.
  README.md
Due: none

chore(claude): add `settings.json`.
  .claude/settings.json
Due: none

feat(claude): deny write on `.env` files.
  module/claude-code/settings.json
Due: none

feat(zsh): add a new alias.
  module/zsh/zshrc
Due: none

chore(flake): update `flake.lock`.
  flake.lock
Due: none
