Repository pabroux/unvX: changes, and which pre-commit hooks are due for each by the changed paths.
All: alejandra, stylua, yamlfmt

alejandra:
  name: Alejandra (Nix formatter)
  description: This hook checks Nix files with Alejandra.
  entry: bash -c 'for arg in "$@"; do nix shell nixpkgs#alejandra --command alejandra -q $arg; done;' --
  language: system

stylua:
  name: Stylua (Lua formatter)
  description: This hook checks Lua files with Stylua.
  entry: bash -c 'for arg in "$@"; do nix shell nixpkgs#stylua --command stylua $arg; done;' --
  language: system

yamlfmt:
  name: Yamlfmt (YAML formatter)
  description: This hook checks YAML files with yamlfmt.
  entry: bash -c 'for arg in "$@"; do nix shell nixpkgs#yamlfmt --command yamlfmt $arg; done;' --
  language: system

chore(flake): update `flake.lock`. [no ci]
  flake.lock
Due: none

refactor(raycast): improve quicklinks.
  module/homebrew/app/raycast/raycast.rayconfig
Due: none

refactor(zsh): remove hf alias.
  module/zsh/zshrc
Due: none

feat: add `bun`.
  host/Sulfyderz-MacBook-Pro/user/sulfyderz/home.nix
  module/bun/default.nix
Due: alejandra

fix(yazi): update `ya` config commands.
  module/yazi/default.nix
Due: alejandra

fix(flake): use another nixpkgs source.
  flake.nix
Due: alejandra

feat(module): add `mise`.
  module/mise/default.nix
Due: alejandra

feat(host): add `mise`.
  host/Sulfyderz-MacBook-Pro/user/sulfyderz/home.nix
Due: alejandra

feat(zshrc): add mise and clean aliases.
  module/zsh/zshrc
Due: none

refactor(zshrc): reorder aliases.
  module/zsh/zshrc
Due: none

refactor(zshrc): adjust a `mise` alias.
  module/zsh/zshrc
Due: none

chore: remove project-dependent modules.
  host/Sulfyderz-MacBook-Pro/user/sulfyderz/home.nix
  module/bun/default.nix
  module/deno/default.nix
  module/gobuster/default.nix
  module/mongosh/default.nix
  module/nodejs/default.nix
  module/psql/default.nix
  module/terraform/default.nix
Due: alejandra

docs(README): add recommendations section. [no ci]
  README.md
Due: none

docs(README): format recommendations section for clarity. [no ci]
  README.md
Due: none

docs(README): use full words. [no ci]
  README.md
Due: none

refactor(host): remove unfree predicate. [no ci]
  host/Sulfyderz-MacBook-Pro/user/sulfyderz/home.nix
Due: alejandra

feat(zshrc): add new alias for nix.
  module/zsh/zshrc
Due: none

chore(pre-commit): pin nixpkgs version.
  .pre-commit-config.yaml
  install
Due: yamlfmt

Path conditions:
  alejandra: any of: \.nix$
  stylua: any of: \.lua$
  yamlfmt: any of: \.(yaml|yml)$
