Repository pabroux/unvX: changes, and which pre-commit hooks are due for each by the changed paths.
All: alejandra, stylua

.pre-commit-config.yaml:

repos:
  - repo: local 
    hooks:
      - id: alejandra
        name: Alejandra (Nix formatter)
        description: This hook checks Nix files with Alejandra.
        entry: bash -c 'for arg in "$@"; do nix shell nixpkgs#alejandra --command alejandra -q $arg; done;' --
        language: system
        files: \.nix$
      - id: shfmt
        name: Sh (shell formatter)
        description: This hook checks shell files with shfmt.
        entry: bash -c 'for arg in "$@"; do nix shell nixpkgs#shfmt --command shfmt -w $arg; done;' --
        language: system
        types_or: [ash, bash, dash, ksh, sh, zsh]
      - id: stylua
        name: Stylua (Lua formatter)
        description: This hook checks Lua files with Stylua.
        entry: bash -c 'for arg in "$@"; do nix shell nixpkgs#stylua --command stylua $arg; done;' --
        language: system
        files: \.lua$
      - id: gitleaks
        name: Gitleaks (secret scanner)
        description: This hook checks the existence of secrets.
        entry: bash -c 'nix shell nixpkgs#gitleaks --command gitleaks git --pre-commit --redact --staged --no-banner --verbose 2> /dev/null; nix shell nixpkgs#gitleaks --command gitleaks dir --redact --no-banner --verbose 2> /dev/null'
        language: system
        pass_filenames: false

chore(flake): update 'flake.lock'. [no ci]
  flake.lock
Due: none

feat(raycast): update config. [no ci]
  module/homebrew/app/raycast/raycast.rayconfig
Due: none

fix(neovim): add args to isort for 'conform' plugin.
  module/neovim/lua/plugins/conform.lua
Due: stylua

feat(neovim): make 'codeium' quiet when failing.
  module/neovim/lua/plugins/codeium.lua
Due: stylua

chore(flake): update 'flake.lock'.
  flake.lock
Due: none

chore(neovim): remove 'mason-tool-installer' dependency for 'mason'.
  module/neovim/lua/plugins/mason.lua
Due: stylua

test(pre-commit): fix gitleaks.
  .pre-commit-config.yaml
Due: none

test(actions): fix gitleaks.
  .github/workflows/secret-scanner.yml
Due: none

test(actions): rename code-quality-checker steps. [no ci]
  .github/workflows/code-quality-checker.yml
Due: none

docs(README): add links to actions. [no ci]
  README.md
Due: none

test(actions): rename secret-scanner action.
  .github/workflows/code-security-checker.yml
  README.md
Due: none

fix(neovim): replace lsp server 'harper_ls' by 'basedpyright'.
  module/neovim/lua/plugins/mason.lua
Due: stylua

docs(README): format sections. [no ci]
  README.md
Due: none

feat(tmux): change prefix keybinding.
  module/tmux/tmux.conf
Due: none

style: clean folder path call.
  module/neovim/default.nix
  module/vim/default.nix
  module/yabai/default.nix
Due: alejandra

feat(zsh): add editor as nvim.
  module/zsh/zshrc
Due: none

feat: add 'yazi' module.
  module/yazi/default.nix
  module/yazi/init.lua
  module/yazi/keymap.toml
  module/yazi/theme.toml
  module/yazi/yazi.toml
Due: alejandra, stylua
