Repository pabroux/unvX: changes, and which pre-commit hooks are due for each by the changed paths.
All: alejandra, stylua

.pre-commit-config.yaml:

repos:
  - repo: local 
    hooks:
      - id: alejandra
        name: Alejandra (Nix formatter)
        description: This hook checks Nix files with Alejandra.
        entry: bash -c 'for arg in "$@"; do nix shell nixpkgs#alejandra --command alejandra -q $arg; done;' --
        language: system
        files: \.nix$
      - id: shfmt
        name: Sh (Shell formatter)
        description: This hook checks shell files with Stylua.
        entry: bash -c 'for arg in "$@"; do nix shell nixpkgs#shfmt --command shfmt -w $arg; done;' --
        language: system
        types_or: [ash, bash, dash, ksh, sh, zsh]
      - id: stylua
        name: Stylua (Lua formatter)
        description: This hook checks Lua files with Stylua.
        entry: bash -c 'for arg in "$@"; do nix shell nixpkgs#stylua --command stylua $arg; done;' --
        language: system
        files: \.lua$
      - id: gitleaks
        name: Gitleaks (Secret scanner)
        description: This hook checks the existence of secrets.
        entry: bash -c 'nix shell nixpkgs#gitleaks --command gitleaks git --pre-commit --redact --staged --no-banner --verbose 2> /dev/null'
        language: system
        pass_filenames: false

style(neovim): lowercase 'cr'.
  module/neovim/lua/core/keybinds.lua
  module/neovim/lua/plugins/specs/nvim-tree.lua
Due: stylua

feat(neovim): set better icons.
  module/neovim/lua/plugins/specs/nvim-tree.lua
Due: stylua

chore(neovim): remove 'plenary.lua'.
  module/neovim/lua/plugins/specs/plenary.lua
Due: stylua

chore(neovim): remove 'plenary.lua'.
  module/neovim/default.nix
Due: alejandra

chore(flake): update 'flake.lock'.
  flake.lock
Due: none

docs(README): fix typo.
  README.md
Due: none

docs(README): update 'about' section.
  README.md
Due: none

feat(vim): add 'expandtab' option.
  module/vim/vimrc
Due: none

style(module): use better indent for shell scripts.
  module/homebrew/app/miniconda/default.nix
  module/homebrew/app/raycast/default.nix
  module/homebrew/default.nix
  module/neovim/default.nix
  module/vim/default.nix
  module/yabai/default.nix
Due: alejandra

docs(README): update the 'structure' section.
  README.md
Due: none

docs(README): add links to the 'resources' section.
  README.md
Due: none

chore(flake): update packages.
  flake.lock
Due: none

feat(raycast): update config.
  module/homebrew/app/raycast/raycast.rayconfig
Due: none

feat(actions): create deployment.yml.
  .github/workflows/deployment.yml
Due: none

test(action): update deployment.yml.
  .github/workflows/deployment.yml
Due: none

chore(action): delete deployment.yml.
  .github/workflows/deployment.yml
Due: none

test(actions): add a workflow for code quality.
  .github/workflows/code_quality_checker.yml
Due: none

test(actions): fix 'Code quality checker' workflow.
  .github/workflows/code_quality_checker.yml
Due: none

test(actions): add secret scanner.
  .github/workflows/secret_scanner.yml
Due: none

test(pre-commit): add gitleaks for files.
  .pre-commit-config.yaml
Due: none
