Repository pabroux/unvX: changes, and which pre-commit hooks are due for each by the changed paths.
All: alejandra, stylua, yamlfmt

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: alejandra
        name: Alejandra (Nix formatter)
        description: This hook checks Nix files with Alejandra.
        entry: bash -c 'for arg in "$@"; do nix shell nixpkgs#alejandra --command alejandra -q $arg; done;' --
        language: system
        files: \.nix$
      - id: shfmt
        name: Sh (shell formatter)
        description: This hook checks shell files with shfmt.
        entry: bash -c 'for arg in "$@"; do nix shell nixpkgs#shfmt --command shfmt -w $arg; done;' --
        language: system
        types: [shell]
      - id: stylua
        name: Stylua (Lua formatter)
        description: This hook checks Lua files with Stylua.
        entry: bash -c 'for arg in "$@"; do nix shell nixpkgs#stylua --command stylua $arg; done;' --
        language: system
        files: \.lua$
      - id: yamlfmt
        name: Yamlfmt (YAML formatter)
        description: This hook checks YAML files with yamlfmt.
        entry: bash -c 'for arg in "$@"; do nix shell nixpkgs#yamlfmt --command yamlfmt $arg; done;' --
        language: system
        types: [yaml]
      - id: gitleaks
        name: Gitleaks (secret scanner)
        description: This hook checks the existence of secrets.
        entry: bash -c 'nix shell nixpkgs#gitleaks --command gitleaks git --pre-commit --staged --redact --no-banner --verbose 2> /dev/null; nix shell nixpkgs#gitleaks --command gitleaks git --redact --no-banner --verbose 2> /dev/null'
        language: system
        pass_filenames: false

chore(flake): update `flake.lock`. [no ci]
  flake.lock
Due: none

feat(neovim): change the key bindings for substitute plugin.
  module/neovim/lua/plugins/substitute.lua
Due: stylua

feat(neovim): change the key bindings for nvim-treesitter plugin.
  module/neovim/lua/plugins/nvim-treesitter.lua
Due: stylua

feat(neovim): add flash plugin.
  module/neovim/lua/plugins/flash.lua
Due: stylua

feat(neovim): activate flash plugin.
  module/neovim/default.nix
Due: alejandra

feat(raycast): update config.
  module/homebrew/app/raycast/raycast.rayconfig
Due: none

docs(README): add outlines to logo. [no ci]
  README.md
Due: none

docs(README): fix link underlines for badges. [no ci]
  README.md
Due: none
