Repository pabroux/unvX: changes, and which pre-commit hooks are due for each by the changed paths.
All: alejandra, stylua, yamlfmt

alejandra:
  name: Alejandra (Nix formatter)
  description: This hook checks Nix files with Alejandra.
  entry: bash -c 'for arg in "$@"; do nix shell nixpkgs#alejandra --command alejandra -q $arg; done;' --
  language: system

stylua:
  name: Stylua (Lua formatter)
  description: This hook checks Lua files with Stylua.
  entry: bash -c 'for arg in "$@"; do nix shell nixpkgs#stylua --command stylua $arg; done;' --
  language: system

yamlfmt:
  name: Yamlfmt (YAML formatter)
  description: This hook checks YAML files with yamlfmt.
  entry: bash -c 'for arg in "$@"; do nix shell nixpkgs#yamlfmt --command yamlfmt $arg; done;' --
  language: system

docs(README): fix link underlines for badges. [no ci]
  README.md
Due: none

chore(flake): update `flake.lock`. [no ci]
  flake.lock
Due: none

feat(ghostty): add keybind for command palette.
  module/homebrew/app/ghostty/config
Due: none

docs(README): add pre-commit badge. [no ci]
  README.md
Due: none

fix(neovim): resolve keybind conflicts for `subsitute`.
  module/neovim/lua/plugins/substitute.lua
Due: stylua

feat: add `fd` module.
  module/fd/default.nix
Due: alejandra

fix(neovim): update command name of `auto-session`.
  module/neovim/lua/plugins/auto-session.lua
Due: stylua

Path conditions:
  alejandra: any of: \.nix$
  stylua: any of: \.lua$
  yamlfmt: any of: \.(yaml|yml)$
